#gameTable {
    margin: auto;
}
td {
    width: 6rem;
    height: 3rem;
    border: darkgrey 2px solid;
}
#phase2 {
    display: none;
} 
#panelCommandes {
    display: none;
}
.player-img {
    width: 14rem;
    height: 16rem;
    object-fit: cover;
}
/* #fightZone {

} */